@{
    ViewBag.Title = "Trang Quản Trị";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section Header{
    Dashbroad
}
<div class="form-group">
    <p>Đây là nội dung của trang chủ</p>
</div>


